<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<title>Help</title>
<link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>{{helptext}}</h1>
    </div>
     
    {{>footer}}
</body>   
</html>